a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

a.active {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
